@import "../../SCSS/styles.module.scss";

.wrapper_recommend_page {
    font-family: Baloo2-Bold;

    .banner_img {
        width: 100%;
        height: 400px;
        position: relative;
        animation: pulse 7s infinite;
        margin-top: 10px;


        .banner_content {
            position: absolute;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;

            &_inner {
                max-width: 250px;
                text-align: center;

                h1 {
                    font-size: 60px;
                    font-weight: 700;
                    color: #3924f3;
                    margin: 0;
                }

                p {
                    font-size: 18px;
                    font-weight: 700;
                    font-style: italic;
                }

                .icon {
                    display: flex;
                    justify-content: space-between;

                    i {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 50px;
                        width: 50px;
                        border-radius: 50%;
                        border: solid 1px #3924f3;
                        color: rgb(12, 51, 158);
                        margin-right: 10px;

                        svg {
                            display: inline-block;
                            font-size: 30px;
                        }

                        &:hover {
                            transform: scale(1.1);
                            border-color: antiquewhite;
                            color: antiquewhite;

                        }
                    }
                }
            }
        }
    }

    @keyframes pulse {
        0% {
            background: linear-gradient(135deg, rgba(228, 255, 209, 1) 17%, rgba(255, 253, 208, 1) 54%, rgba(255, 238, 209, 1) 63%, rgba(255, 208, 210, 1) 100%);
        }

        30% {
            background: linear-gradient(135deg, rgba(228, 255, 209, 1) 14%, rgba(255, 220, 208, 1) 37%, rgba(255, 238, 209, 1) 73%, rgba(255, 208, 210, 1) 100%);
        }

        60% {
            background: linear-gradient(135deg, rgba(255, 253, 209, 1) 12%, rgba(233, 255, 208, 1) 46%, rgba(255, 240, 208, 1) 58%, rgba(255, 237, 209, 1) 84%, rgba(255, 208, 210, 1) 97%);
        }

        100% {
            background: linear-gradient(135deg, rgba(228, 255, 209, 1) 12%, rgba(237, 255, 213, 1) 31%, rgba(208, 255, 235, 1) 38%, rgba(255, 240, 208, 1) 52%, rgba(209, 235, 255, 1) 67%, rgba(255, 208, 210, 1) 86%);
        }
    }

    .content_page_recommend {
        text-align: center;
        background-color: rgba(246, 246, 246, 255);
        height: auto;
        padding: 100px 0;

        .section {
            font-size: 20px;
            display: inline-block;
            padding: 10px 40px;
            border-bottom: 1px solid #e3c383;
            border-top: 1px solid #e3c383;
            position: relative;
            text-align: center !important;
            text-transform: uppercase;
            color: #e7b45a;
            margin-top: 40px;

            &::before {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: #e3c383;
                position: absolute;
                top: 50%;
                bottom: 50%;
                content: "";
                left: 10px;
            }

            &::after {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: #e3c383;
                position: absolute;
                top: 50%;
                bottom: 50%;
                content: "";
                right: 10px;
            }

            h1 {
                margin: 0;
            }
        }

        .content_page_top {
            display: flex;
            align-items: center;
            margin-top: 20px;

            &_text {
                max-width: 70%;
                box-sizing: border-box;
                padding: 0 15px;

                h1 {
                    width: 100%;
                    color: #b81f32;
                    font-size: 25px;
                    text-transform: uppercase;
                    font-weight: 700;
                    float: left;
                }

                p {
                    font-size: 18px;
                    font-weight: 500;
                    text-align: justify;
                }
            }

            &_img {
                height: 400px;
                width: 30%;
                background-color: aqua;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .content_page_recommend_bot {
        background-color: #f8e5de;
        padding: 100px 0;

        p {
            margin: 0;
        }

        h1 {
            width: 100%;
            text-align: center;
            color: #b81f32;
            font-size: 25px;
            text-transform: uppercase;
            font-weight: 700;
            padding-bottom: 50px;
        }

        .wrap_box_info {
            display: flex;
            justify-content: space-between;

            .box_info {
                box-sizing: border-box;
                padding: 0 30px;
                width: 33.33%;

                .img_box {
                    width: 220px;
                    height: 220px;
                    border-radius: 50%;
                    background: #FFF;
                    text-align: center;
                    margin: 0 auto;
                    vertical-align: middle;
                    position: relative;

                    img {
                        position: absolute;
                        margin: 0 auto;
                        vertical-align: middle;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                    }
                }

                .title,
                .description {
                    text-align: center;
                }

                .title {
                    color: #b91f32;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 22px;
                    height: 75px;
                    margin-top: 40px
                }

                .description {
                    font-size: 20px;
                    text-align: justify;
                }
            }
        }
    }
}