.wrapper__brand {
    padding: 80px 0;
    background-color: #f3f3eb;
    .flex__title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        .title_1 {
            font-size: 36px;
            display: inline-block;
            padding: 20px 40px;
            border-bottom: 1px solid black;
            border-top: 1px solid black;
            position: relative;
            text-align: center !important;
            text-transform: uppercase;
            color: #e7b45a;
            &::before {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: #e3c383;
                position: absolute;
                top: 50%;
                bottom: 50%;
                content: "";
                left: 10px;
            }
            &::after {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: #e3c383;
                position: absolute;
                top: 50%;
                bottom: 50%;
                content: "";
                right: 10px;
            }
            text-align: center;
        }
    }
    &__inner {
        .service__item {
            width: 20%;
            text-align: center;
            p {
                font-size: 20px;
            }
        }
        .arr {
            width: 6.666%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
