@import "../../../../SCSS/styles.module.scss";
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    color: aliceblue;
    font-size: 17px;
    margin-top: 5%;
    font-family: Baloo2-Bold;
    .navigation{
        background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
        display: flex;
        height: 80px;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        border-radius: 50px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        ul{
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 0;
            :last-child{
                border-right: none;
            }
            li{
                padding: 0 21px;
                border-right: 1px solid #fff;
                color: #fff;
                text-transform: uppercase;
                font-size: 15px;
                font-weight: bold;
                cursor: pointer;
                a{
                    color: #fff;
                }
            }:hover{
                color: aqua;
                transform: scale(1.1);
            }
        }
        .logo{
            z-index: 1;
            height: 200px;
            width: 200px;
            img{
                height: 100%;
                width: 100%;
                border-radius: 50%;
            }
        }
        .content_left{
              padding-left:80px;
        }
        .content_right{
      }
      .icon{
          margin-right: 10px;
       a{
        border-right: 1px solid #fff;
        i{
            font-size: 20px;
            padding: 0 12.5px;
            
            cursor: pointer;
            color: #fff;
            :hover{
                color: aqua;
                transform: scale(1.05);
            }
        }
       }
        
        :last-child{
            border: none;
        }
        
    }
    }
}