@import "../../../../SCSS/styles.module.scss";

.header {
    position: fixed;
    top: 0;
    position: -webkit-sticky;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
    font-size: 17px;
    font-family: Baloo2-Bold;
    background-color: #000000;
    z-index: 3;


    .navigation {
        display: flex;
        height: 80px;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
        position: relative;

        @media (max-width:1200px) {
            max-width: 1000px;
        }

        @media (max-width:990px) {
            padding-right: 20px;

            .icon {
                order: -1;
            }
        }

        ul {
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 0;

            :last-child {
                border-right: none;
            }

            li {
                padding: 0 21px;
                color: #fff;
                text-transform: uppercase;
                font-size: 15px;
                font-weight: bold;
                cursor: pointer;

                a {
                    color: #fff;
                }
            }

            :hover {
                color: aqua;
                transform: scale(1.1);
            }
        }

        .logo {
            z-index: 1;
            height: 100%;
            width: 150px;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;

            }
        }

        .content_left {
            padding-left: 80px;

            @media (max-width:1200px) {
                padding-left: 0;
            }

            @media (max-width:990px) {
                display: none;
            }
        }


        .icon {
            margin-right: 10px;

            @media (max-width:428px) {
                display: none;
            }

            i {
                font-size: 20px;
                padding: 0 12.5px;

                cursor: pointer;
                color: #fff;

                :hover {
                    color: aqua;
                    transform: scale(1.05);
                }
            }

            a {

                i {
                    font-size: 20px;
                    padding: 0 12.5px;

                    cursor: pointer;
                    color: #fff;

                    :hover {
                        color: aqua;
                        transform: scale(1.05);
                    }
                }
            }

            :last-child {
                border: none;
            }

        }

        .input__search {
            position: absolute;
            bottom: -30px;
            right: 4%;
            width: auto;
            height: auto;
            box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.1);
            border-radius: 30px;

            &::before {
                content: "";
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 7.5px 10px 7.5px;
                border-color: transparent transparent #fff transparent;
                position: absolute;
                top: -10px;
                right: 12px;
                transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
            }

            input {
                height: 40px;
                width: 300px;
                box-sizing: border-box;
                padding: 0 30px 0 50px;
                border-radius: 30px;
                border: none;
                background: #fbfbfb;
                color: black;
                font-size: 15px;

                &:focus {
                    border: none;
                    outline: none;
                }
            }

            i {
                position: absolute;
                left: 0;
                font-size: 25px;
                color: gray;
                top: 50%;
                left: 7%;
                transform: translate(-50%, -40%);
            }
        }
    }
}

// menu mobile max-width:1366px
.menu_mobile {


    .icon_toggle_menu {
        height: 30px;
        width: 30px;
        font-size: 30px;
        color: #ffffff;
        cursor: pointer;

        @media (min-width:991px) {
            display: none;
        }
    }

    &_inner {
        width: 50%;
        background: #000000;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 5;
        filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, .7));
        opacity: 1;
        transition: all 3s;

        // @media (max-width:768px) {
        //     width: 70%;
        // }

        @media (max-width:500px) {
            width: 100%;
        }

        .logo_btnclose {
            display: flex;
            justify-content: space-between;
            box-sizing: border-box;
            padding: 10px;

            img {
                height: 70px;
                width: 120px;
                filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, .7));
                order: 2;
                object-fit: cover;
            }

            .btn_close {
                font-size: 25px;
                color: #ffffff;
                cursor: pointer;
            }
        }

        .list_menu {
            float: left;
            padding-right: 50px;
            font-size: 25px;

            ul {
                display: block;

                li {
                    color: #ffffff;
                    padding-bottom: 20px;
                    text-transform: capitalize;
                    list-style-type: none;

                    &:hover {
                        color: rgb(241, 209, 166);
                        text-decoration: underline;
                    }

                    a {
                        color: #ffffff;
                    }
                }
            }
        }
    }
}