.Wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

.container {
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
}

.row {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
}

p,
ul,
li,
ol,
span,
div,
table {
    font-family: $font;
    margin: 0;
}

a,
button {
    cursor: pointer;
}