@font-face {
    font-family: "Roboto";
    src: url("../../Assess/Font/Roboto-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url("../../Assess/Font/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url("../../Assess/Font/Roboto-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}