.Wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;

    li {
        text-decoration: none;
    }

    .slide {
        height: 100vh;
        width: 100%;

        .wrap__container {}
    }

    .wrap__content {}
}

.container {
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
}

.row {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
}