.Wrapper{
    margin:0;
    padding:0;
    li {
        text-decoration: none;
     }
    .slide{
        img{
            z-index: -1;
            position: relative;
             height: 90vh;
             width: 100%;
             object-fit: cover;
        }
        .wrap__container{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            z-index: 2;
        }
    }
    .wrap__content{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
}
.container{
    width: 1200px;
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
}
.row{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
}