.wrap__pagination {
    height: 50px;
    background-color: #ffffff;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__list__number {
        display: flex;
        align-items: center;

        span,
        i {
            display: inline-block;
            padding: 0 10px;
            cursor: pointer;
        }

        .numberPageActive {
            color: red;
        }
    }
}