@import "./TopStore/topstore.scss";
@import "./ListProducts/styles.scss";
@import "./Pagination/styles.scss";

.wrap__store {
    background-color: rgb(246, 246, 246);
    height: 100vh;
    padding-top: 80px;
    box-sizing: border-box;
}